<h2>Chi siamo</h2>

<div class="container">
  <p>
    AngFitness è una palestra moderna e dinamica, pensata per chi desidera
    migliorare il proprio benessere fisico e mentale. La nostra missione è
    creare un ambiente accogliente e motivante, dove ogni persona possa
    raggiungere i propri obiettivi di fitness, indipendentemente dal livello di
    partenza. Offriamo una vasta gamma di corsi, dalle lezioni di gruppo ad
    allenamenti personalizzati, per soddisfare le esigenze di tutti. Il nostro
    team di istruttori altamente qualificati è sempre a disposizione per
    guidarti, motivarti e supportarti in ogni fase del tuo percorso.
  </p>
  <img src="./gym_1.jpg" alt="immagine_della_palestra" />
</div>

<div class="container">
  <img src="./gym_2.jpg" alt="immagine_di_atleti" />
  <p>
    In AngFitness crediamo che ogni individuo sia unico e che il successo derivi
    dalla costanza e dall'impegno. Per questo, ci impegniamo a fornire
    un'esperienza che vada oltre l'allenamento fisico: siamo una comunità che
    cresce insieme, spinta da una passione comune per la salute e il fitness. Se
    stai cercando un luogo dove sentirti supportato, motivato e dove poterti
    divertire mentre raggiungi i tuoi obiettivi, AngFitness è il posto giusto
    per te.
  </p>
</div>
