<div class="card">
  <!-- <img src="{{ corso().image }}" alt="immagine_del_corso" /> -->
  <div class="card-content">
    <h3>{{ corso().nome }}</h3>
    <p>{{ corso().descrizione }}</p>
    <p>Istruttore: {{ corso().istruttore }}</p>
    <p>Durata: {{ corso().durata }} minuti</p>
    <p>Posti disponibili: {{ corso().capacita_massima }}</p>
    <a href="" class="btn btn-primary" (click)="onClick()"
      >Prenota una lezione</a
    >
  </div>

  <!-- <button (click)="onSelectUser(utente())">Preferito</button> -->
</div>
